/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Fira+Sans:wght@400;500&display=swap');

body {
    background-color: #f6f8d3;
    font-family: 'Fira Sans', sans-serif;
}

h2,
h4 {
    font-family: 'Open Sans', sans-serif;
}

#questionTitle {
    font-family: 'Roboto';
    font-weight: normal;
}

#optionsContainer {
    font-family: 'Fira Sans', sans-serif;
    font-size: large;
}

#timer-container {
    border: #044461;
    position: fixed;
}

#timer {
    font-size: 1.5rem;
    color: rgb(40, 2, 85);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    width: 100%;
    left: 50;
    top: 10;
}

.progress-bar {
    transition: width 1.2s;
}

.text-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.text-area {
    width: 48%;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    min-height: 100px;
    border-radius: 10px;
    border: 2px solid #0f1abb;
    overflow-y: auto;
    resize: both;
    box-sizing: border-box;
}

.correct {
    background-color: #1ccc48;
}

.incorrect {
    background-color: #96141e;
}

.option-box {
    border: 1px solid #5ba6c9;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    /* Make it look clickable */
    border-radius: 20px;
    transition: background-color 0.5s ease;
    /* Smooth transition for hover effect */
}

.option-box:hover {
    background-color: #1c7f86;
    /* Light gray on hover */
}

.option-box.selected {
    background-color: #ceeedf;
    /* Light green for selected option */
    border-color: #96d4b9;
}

.option-box label {
    cursor: pointer;
    display: block;
}

/* Optional: Add some padding to question text */
#questionTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.answer-box {
    padding: 10px;
    border: 1px solid #f0f7cb;
    border-radius: 15px;
    min-height: 200px;
    /* Minimum height */
    overflow-y: auto;
    /* Allow scrolling if content exceeds height */
    resize: both;
    /* Enable resizing both horizontally and vertically */
}

/* style.css */
.accordion-button {
    background-color: #f8f9fa;
    /* Light gray background */
    border: none;
    font-weight: 500;
}

.accordion-button:not(.collapsed) {
    background-color: #e9ecef;
    /* Slightly darker gray when open */
    box-shadow: none;
    /* Remove default box-shadow */
}

.accordion-item {
    border: 1px solid #cfc8df;
    /* Light border between items */
    margin-bottom: 10px;
    /* Spacing between items */
    border-radius: 0.8rem;
    /* Rounded corners */
    overflow: hidden;
    /* Prevent content from overflowing rounded corners */
}

.accordion-body {
    padding: 1rem 1.25rem;
}

.show-explanation-btn {
    margin-top: 10px;
}

/* Light Mode */
body {
    background-color: white;
    color: black;
}

/* Dark Mode */
body.dark-mode {
    background-color: rgb(49, 49, 49);
    color: rgb(223, 162, 82);
}


/* Tree view */
.folder-item {
    cursor: pointer;
}

.folder-contents {
    transition: height 0.2s ease;
}

/* Practice mode box */
#feedbackBox {
    background-color: #f8f9fa;
    color: #10365c;
}

#feedbackBox.correct {
    border: 2px solid #198754;
    /* Green border for correct answers */
}

#feedbackBox.incorrect {
    border: 2px solid #dc3545;
    /* Red border for incorrect answers */
}


/* Submit in practice mode */
#quizControls {
    display: flex;
    gap: 1rem;
    /* Space between buttons */
}

#submitBtn.d-none,
#nextBtn.d-none {
    display: none !important;
}




#version {
    position: fixed;
    bottom: 0;
    right: 0;
}